* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #EDEDED;

  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 70%;
  }
  
  .fas {
    justify-content: center;
    display: flex;
  }
  
  .main {
    padding: 2% 15%;

  }
  
  .jumbotron {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    background-color: #005462;
    color: #fff;
    border-radius: 0;
    margin-bottom: 0;
  }

  h1 {
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    font-size: 60px;
  }
  
  .clear-btn {
    background-color: white;
    border: 3px solid #6C1D5D;
    color: black;
    padding: 15px;
    border-radius: 15px;
  }

  .clear-btn:hover {
    background-color: #470C39;
    color: white;
  }

  .notes{
    white-space: pre-wrap;
  }
  
  .time{
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .time-slot {
    white-space: pre-wrap;
    height: 90px;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    padding-right: 10px;
    text-align: right;
    width: 15%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .save-btn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #60A7D1;
    color: white;
    width: 15%;
  }
  
  .save-btn:hover {
    background-color: #4D88B0;

  }
  
  .past {
    background-color: #A4A9AD;
    color: black;
  }
  
  .present {
    background-color: #EF5B5B;
    color: black;
  }
  
  .future {
    background-color: #20A39E;
    color: black;
  }
  